In [1]:
# library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (15, 10)

In [2]:
# Read the excel file
df_2021 = pd.read_excel("data/donnees-effectifs-polices-municipales-2021.xlsx", sheet_name="II)_Communes")

In [8]:
datas_extract = df_2021.iloc[4:]
datas_extract

,MI/SG/DLPAJ/SDPA/BPA/2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
4,Numéro département,Nom département,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nombre de maîtres chiens de police municipale,Nombre de chiens de patrouille de police munic...,Nombre de communes ou EPCI doté(e)s d’une brig...
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,TOTAL NATIONAL,NaN,NaN,4452,51538471,369,25466,8067.5,679,462,456,232
7,NaN,Ain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,NaN,1.0,Ambérieu en Bugey,14586,1,8,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4724,988,NaN,1.0,MONT-DORE,27620,0,20,2,15,2,1,1
4725,988,NaN,1.0,DUMBEA,36800,0,34,0,4,2,2,1
4726,988,NaN,1.0,PAITA,24568,0,1,7,9,2,2,1
4727,TOTAL NOUVELLE-CALÉDONIE,NaN,NaN,4,183273,0,208,9,28,18,19,4
4728,TOTAL NATIONAL,NaN,NaN,4452,51538471,369,25466,8067.5,679,462,456,232

In [9]:
# Get columns names
columns = datas_extract.iloc[0].values
columns[3] = "Nom des communes ou EPCI ayant un service de police municipale"
columns[4] = "Nombre d’habitants de la commune"
columns[5] = "Mise en commun d'agents de police municipale entre communes"
columns[6] = "Nombre d’agents de police municipale"
columns[7] = "Nombre d’ASVP (à Paris, nombre d’ASP et contrôleurs)"
columns[8] = "Nombre de gardes-champêtres"
#columns[8] = ""
columns

array(['Numéro département', 'Nom département', nan,
       'Nom des communes ou EPCI ayant un service de police municipale',
       'Nombre d’habitants de la commune',
       "Mise en commun d'agents de police municipale entre communes",
       'Nombre d’agents de police municipale',
       'Nombre d’ASVP (à Paris, nombre d’ASP et contrôleurs)',
       'Nombre de gardes-champêtres',
       'Nombre de maîtres chiens de police municipale',
       'Nombre de chiens de patrouille de police municipale',
       'Nombre de communes ou EPCI doté(e)s d’une brigade canine'],
      dtype=object)

In [10]:
# Get rows
rows = datas_extract.iloc[2:].values
rows

array([['TOTAL NATIONAL', nan, nan, ..., 462, 456, 232],
       [nan, 'Ain', nan, ..., nan, nan, nan],
       [1, nan, 1.0, ..., 0, 0, '0'],
       ...,
       [988, nan, 1.0, ..., 2, 2, '1'],
       ['TOTAL NOUVELLE-CALÉDONIE', nan, nan, ..., 18, 19, 4],
       ['TOTAL NATIONAL', nan, nan, ..., 462, 456, 232]], dtype=object)

In [11]:
# Create new DataFrame
datas_clean = pd.DataFrame(rows, columns=columns)
datas_clean

,Numéro département,Nom département,NaN,Nom des communes ou EPCI ayant un service de police municipale,Nombre d’habitants de la commune,Mise en commun d'agents de police municipale entre communes,Nombre d’agents de police municipale,"Nombre d’ASVP (à Paris, nombre d’ASP et contrôleurs)",Nombre de gardes-champêtres,Nombre de maîtres chiens de police municipale,Nombre de chiens de patrouille de police municipale,Nombre de communes ou EPCI doté(e)s d’une brigade canine
0,TOTAL NATIONAL,NaN,NaN,4452,51538471,369,25466,8067.5,679,462,456,232
1,NaN,Ain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NaN,1.0,Ambérieu en Bugey,14586,1,8,0,0,0,0,0
3,1,NaN,1.0,Ambérieux en Dombes,1792,0,0,0,1,0,0,0
4,1,NaN,1.0,Ambronay,2915,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4718,988,NaN,1.0,MONT-DORE,27620,0,20,2,15,2,1,1
4719,988,NaN,1.0,DUMBEA,36800,0,34,0,4,2,2,1
4720,988,NaN,1.0,PAITA,24568,0,1,7,9,2,2,1
4721,TOTAL NOUVELLE-CALÉDONIE,NaN,NaN,4,183273,0,208,9,28,18,19,4
4722,TOTAL NATIONAL,NaN,NaN,4452,51538471,369,25466,8067.5,679,462,456,232